.home-visit{
  margin: 50px 100px;

    h2{
      font-size: 2rem;
      color: var(--primary-color);
      margin-bottom: 25px;
    }

    h3{
      margin-top: 75px;
      color:var(--secondary-color)
    }

    p{
      color: var(--secondary-color);
    }
}