.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  .navbar-left{
    display: flex;
    align-items: center;

    h1{
      letter-spacing: 2px;
      color: var(--primary-color);
    }

    i{
      font-size: 50px;
      margin-right: 30px;
      color: var(--secondary-color);
    }
  }

  ul{
    display: flex;
    justify-content: center;
    align-items: baseline;
    
    .navbar-link{
      margin:0 10px;
      color: var(--primary-color);
      cursor: pointer;
      width: 150px;
      text-align: center;
      transition:all 500ms;
      position: relative;
      overflow: hidden;
      z-index: 10;
      text-transform: uppercase;

      &:before{
        content:'';
        width: 0;
        height: 100%;
        position: absolute;
        top:0;
        right: 0;
        background-color: var(--primary-color);
        transition: all 500ms;
      }

      &:hover{
        letter-spacing: 2px;
        color: var(--third-color);

        &:before{
          width: 100%;
          transform:translate(75px)skew(-25deg);
          opacity: 0.5;
          z-index: -9;
        }
      }
    }
  }
}