.profile{
  padding: 10px 50px;

  .profile-form{
    max-width:500px;
  }

  .form{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--primary-color);

    h2{
      font-size: 2rem;
      color: var(--secondary-color);
    }
  }
  input, textarea{
    width:100%;
    height: 50px;
    color: var(--primary-color);
    font-size: 1.2rem;
    border-bottom: 1px solid var(--secondary-color);
    padding-left: 20px;



    &::placeholder{
      color:var(--third-color);
    }

    &.description{
      height: 300px;
      text-align: start;
    }
  }
  textarea{
    padding-top: 20px ;
  }


  .profile-btn{
    color:var(--primary-color);
    font-weight: 700;
    border: none;
    background-color: var(--third-color);
    width:200px;
    height: 50px;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:before{
      content:'';
      width: 0%;
      height: 100%;
      position: absolute;
      background-color: var(--secondary-color);
      top:0;
      right: 0;
      transition: all 400ms;
    }
    &:hover:before{
      width: 100%;
      opacity: 0.4;
      transform: skew(25deg) translate(50%);
    }
  }
  p{
    color:var(--secondary-color);
    font-style: italic; 
  }
}